{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#buttonload {
  border-radius: 25px;
  background-color: lightblue; /* Green background */
  /* Remove borders */
  color: black; /* White text */
  padding: 8px 24px; /* Some padding */
  font-size: 20px; /* Set a font-size */
  width: 300px;
  height: 250px;
  position: absolute;
  left: 0%;
  top: 100%;
  z-index: 1;
  margin: 0px 0px 0px 250px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#myDiv {
  display: none;
  text-align: center;
}

/* Add a right margin to each icon */
.fa {
  margin-left: -10px;
  margin-right: 10px;
}
</style>
</head>

<body>
    <!-- Header -->
  <script src="https://unpkg.com/gauge-chart@0.5.1/dist/bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <!-- Header -->
     <div class="header  pb-8 pt-5 pt-md-9" style="background-image: linear-gradient(lightblue,white)">
      <div class="row" >
     
       <div class="col-xl-11 col-lg-6">
              <div class="card card-stats mb-5 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Process Health</h5>
                      
                     
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                          <i class="fas fa-percent"></i>
                        </div>
                      </div>
                    </div>
                  
                    <br>
                    <br>
                    
                   
                    
                    <div class="row">
                  <div class="col mt--5" style="padding : 0px 100px ;" >
                    
                    <ul   class="nav nav-pills justify-content-front">
                    <li class="nav-item" >

                  

                       <input type="submit" onclick="myFunction()" value="Process Invoices" style="margin:0;"  />

                        <div class="col mt--9" id="buttonload" style="display: none;">
                          <br>
                        <i class="fa fa-spinner fa-spin"></i> Processing Invoices.....
                        </div>

                      <form action="http://localhost:8000/runn" id="myform" style="display:none;" ></form>

                       <br>
                       <br>
                       <br>

                       <input type="submit" onclick="myFunc()" value="Archive Invoices" style="margin:0;"  />

                      <script>
                      var myVar;



                      async function myFunction() {
                        document.getElementById("buttonload").style.display = "block";
                        document.getElementById("myform").submit(); 
                      }


                    

                      </script>
                    </li>
                    </ul> 
      
                
             
                  </div>

           
                 <div class="col font-weight-bold" style="padding : 0px 50px 0px 0px ; font-size: 30px;" >96% </div>
             
                 


                <div class="col mt--6">
                <div style="padding : 0px 100px 0px 0px" id="gaugeArea2"></div>
                 <script>

                      var getData = $.get('/data');

                      getData.done(function(results)
                      {
                          
                      let element = document.querySelector('#gaugeArea2')
                      
                      
                      
                        let options = {
                          hasNeedle: true,
                          needleColor: 'black',
                          arcColors: ['green','red'],
                          arcDelimiters: [results.results[1]],
                          rangeLabel: ['0',''+results.results[0]],
                          needleStartValue: 0,

                        }
                       
                      
                         GaugeChart
                          .gaugeChart(element, 300, options)
                          .updateNeedle(results.results[1])
                          
                      
                   
                
                        
                      });
                        

                      </script>
              </div> 
                  
              </div> 
                   
                    
                    </div>
                  
             
              </div>
            </div>
      </div>
  


<br>
<br>


          <div class="row mt-9">
             <div class="col-xl-6 col-lg-6 ">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <canvas id="bar-chart1"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

              </div>
            </div>
          </div>




            <div class="col-xl-6 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <canvas id="line-chart" ></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script >
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
</script>
</div>
 </div>
     </div>
           
           

           

          <br><br>



         
            <div class="col-xl-6 col-lg-6 mt-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <canvas id="bar-chart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>

   var getData = $.get('/data');
 getData.done(function(results) { 
new Chart(document.getElementById("bar-chart1"), {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"], 
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
})


    new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"], 
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});

</script>
              </div>
            </div>
          </div>
          <br>
          <br>
           <div class="col-xl-6 col-lg-6 mt-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                   <canvas id="line-chart1" ></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script >
new Chart(document.getElementById("line-chart1"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
</script>
              </div>
            </div>
          </div>
            
          </div>
        </div>
      </div>
    </div>


 <div class="row align-items-center justify-content-xl-between mt--7">

            <div class="copyright text-center text-xl-left text-muted">
            </div>
          </div>
          <div class="col-xl-7 ">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                &copy; Genpact
              </li>
            </ul>
          </div>
        </div>
      </div>



   

 
 


</body>
</html>



{% endblock content %}

{% block javascripts %}
  
{% endblock javascripts %}